<div class="metadataContainer">
    <table class="metadataTable">
        <tr>
            <td colspan="="2" class="sectionTitle">General</td>
        </tr>
        <tr>
            <td>Timestamp</td>
            <td>@(_metadata.DateTime.ToString("MMM dd, yyyy hh:mm"))</td>
        </tr>
        <tr>
            <td>Make/model</td>
            <td>@(_metadata.Make) / @(_metadata.Model)</td>
        </tr>
        <tr>
            <td>Aperture</td>
            <td>@(_metadata.Aperture)</td>
        </tr>
        <tr>
            <td>Shutter speed</td>
            <td>@(_metadata.ShutterSpeed)</td>
        </tr>
        <tr>
            <td>Exposure bias</td>
            <td>@(_metadata.ExposureBias)</td>
        </tr>
        <tr>
            <td>ISO</td>
            <td>@(_metadata.ISO)</td>
        </tr>
        <tr>
            <td>Focal length</td>
            <td>@(_metadata.FocalLength)</td>
        </tr>
        <tr>
            <td>Image size</td>
            <td>@(_metadata.Width) x @(_metadata.Height)</td>
        </tr>
        @if( _metadata.FujiCustomSettings!=null) {
            <tr>
                <td colspan="="2" class="sectionTitle">Fujifilm</td>
            </tr>
            <tr>
                <td>Film recipe</td>
                <td>@(_metadata.FujiCustomSettings.FilmRecipe)</td>
            </tr>
            <tr>
                <td>Film simulation</td>
                <td>@(_metadata.FujiCustomSettings.FilmSimulation)</td>
            </tr>
            <tr>
                <td>Dynamic range</td>
                <td>@(_metadata.FujiCustomSettings.DynamicRange)</td>
            </tr>
            <tr>
                <td>White balance</td>
                <td>@(_metadata.FujiCustomSettings.GetWhiteBalanceStr())</td>
            </tr>
            <tr>
                <td>Colour</td>
                <td>@(_metadata.FujiCustomSettings.Color)</td>
            </tr>
            <tr>
                <td>Sharpness</td>
                <td>@(_metadata.FujiCustomSettings.Sharpness)</td>
            </tr>
            <tr>
                <td>Highlight tone</td>
                <td>@(_metadata.FujiCustomSettings.HighlightTone)</td>
            </tr>
            <tr>
                <td>Shadow tone</td>
                <td>@(_metadata.FujiCustomSettings.ShadowTone)</td>
            </tr>
        }
    </table>
</div>

@code {
    [Inject]
    DataAccessService? dataAccessService {get; set;}

    [Inject]
    ImageLibraryService? imageLibraryService {get; set;}

    private ImageMetadataBase _metadata = new ImageMetadataBase();

    protected override void OnInitialized() {
        if (imageLibraryService != null && dataAccessService!=null)
        {
            imageLibraryService.NewMetadataLoaded += (e, imageMetadata) =>
            {
                _metadata = imageMetadata;
                StateHasChanged();
            };
        }
    }
}